* {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  padding: 20px;
  grid-gap: 3em;
}

.hello {
  color: white;
  grid-column: 1/4;
  padding-left: 10%;
  padding-right: 45%;
  font-size: 25pt;
}

.kurs {
  padding-top: 35px;
  text-align: center;
  color: white;
  grid-column: 1/4;
}

.kurs input {
  padding-right: 10px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  margin-top: 35px;
}

.head {
  background: url(../image/fonhead.jpg) center 100% no-repeat;
  background-size: cover;
}

.intro {
  padding-top: 35px;
  text-align: center;
  background: #202429;
  color: white;
  padding-bottom: 20px;
}

.intro > p {
  font-size: 20pt;
  font-weight: bold;
}

.intro_blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  padding-top: 35px;
  padding-left: 50px;
  padding-right: 50px;
}

.kurses > p{
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
}

<<<<<<< HEAD
.slider_image{
  padding-top: 50px;
  height: 200px;
  width: 300px;
  background: url("../image/question.png") center 100% no-repeat;
  background-size: cover;
}

.slider__item p {
  padding: 35px;
  padding-left: 100px;
  font-size: 14pt;
  font-weight: bold;
}

.slider_comp{
  height: 250px;
  background-color: rgb(242, 242, 242);
  display: flex;
  /* flex-wrap: wrap; */
}

/* .break{
  flex-basis: 100%;
  height: 0;
} */

=======
>>>>>>> parent of 339936c... turupuru
.services > p{
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
}

.works > p{
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
}

.kurses{
  padding: 15px;
}

.services{
  padding: 15px;
}

.works{
  padding: 15px;
}

.footer {
  background: #202429;
  text-align: center;
  color: white;
}

.fblock > p {
  text-align: left;
}

.obrsv input {
  padding-right: 10px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  margin-top: 25px;
}

.map {
}

.fblocks {
  padding-top: 35px;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    padding: 20px;
    grid-gap: 3em;
    padding: 15px;
  }

  .hello {
    grid-column: 1/2;
    font-size: 14pt;
    font-weight: normal;
  }

  .kurs {
    grid-column: 1/2;
  }
<<<<<<< HEAD
   .kurs input {
    height: 35px;
    width: 200px;
    text-align: center;

   }
=======
>>>>>>> parent of 339936c... turupuru

  .intro_blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
