* {
  padding: 0;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  padding: 20px;
  grid-gap: 3em;
}

nav {
  background: #e7a158;
  grid-column: 1/4;
}

.hello {
  background: #f4c3a0;
  grid-column: 1/4;
}

.kurs {
  background: #e7a158;
  grid-column: 1/4;
}

.block {
  background: #f4c3a0;
}

.blockd {
  background: #e7a158;
}

.head {
  background-image: image("..");
}

@media screen and (max-width: 450px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    padding: 20px;
    grid-gap: 3em;
    padding: 15px;
  }

  nav {
    background: #e7a158;
    grid-column: 1/2;
  }

  .hello {
    background: #f4c3a0;
    grid-column: 1/2;
  }

  .kurs {
    background: #e7a158;
    grid-column: 1/2;
  }
}
